    .profileBox{
        border:"1px solid white";
        padding: '15px';
        height: "300px";
    color:"white";
    background-color: 'white';
    }

    .profileBox h6{
        color:"white"
    }

    